@color-green_light: #64c741;
@color-blue:#0072be;
@color-blue_lite:#5ebcfb;
@color-wihte:#000000;
@color-black:#000000;
@color-orange:#ff7d41;
@color-yellow:#ffcc00;
@color-grey:#3a3a43;
@color-grey_light:#ebebed;
@color-grey_menu:#b9b9c3;
@color-corall:#ff5f47;

.other-stock_item img{
	height:269px;
	width:33%;
	background:@color-wihte;
}
.content{
	min-width:740px;
	max-width:976px;
}
.aside{
	width:250px;
}